@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="text-center">
        <h3>Мы идем на потрясающую вечеринку!</h3>
        <h4>И вы приглашены</h4>
        <a class="btn btn-danger" asp-action="RsvpForm">Присоединиться</a>
    </div>   
</body>
</html>